// // File: /app/src/assets/scss/6-nfl-teams/_team_colors.scss

// Arizona Cardinals
$color-arizona-cardinals-primary: #97233F;
$color-arizona-cardinals-secondary: #000000;
$color-arizona-cardinals-tertiary: #FFB612;

// Atlanta Falcons
$color-atlanta-falcons-primary: #A71930;
$color-atlanta-falcons-secondary: #000000;
$color-atlanta-falcons-tertiary: #A5ACAF;

// Baltimore Ravens
$color-baltimore-ravens-primary: #241773;
$color-baltimore-ravens-secondary: #9E7C0C;
$color-baltimore-ravens-tertiary: #000000;

// Buffalo Bills
$color-buffalo-bills-primary: #00338D;
$color-buffalo-bills-secondary: #C60C30;
$color-buffalo-bills-tertiary: #8B8682;

// Carolina Panthers
$color-carolina-panthers-primary: #0085CA;
$color-carolina-panthers-secondary: #101820;
$color-carolina-panthers-tertiary: #BFC0BF;

// Chicago Bears
$color-chicago-bears-primary: #0B162A;
$color-chicago-bears-secondary: #C83803;
$color-chicago-bears-tertiary: #0B162A;

// Cincinnati Bengals
$color-cincinnati-bengals-primary: #FB4F14;
$color-cincinnati-bengals-secondary: #000000;
$color-cincinnati-bengals-tertiary: #FFF;

// Cleveland Browns
$color-cleveland-browns-primary: #311D00;
$color-cleveland-browns-secondary: #FF3C00;
$color-cleveland-browns-tertiary: #311D00;

// Dallas Cowboys
$color-dallas-cowboys-primary: #003594;
$color-dallas-cowboys-secondary: #869397;
$color-dallas-cowboys-tertiary: #FFFFFF;

// Denver Broncos
$color-denver-broncos-primary: #FB4F14;
$color-denver-broncos-secondary: #002244;
$color-denver-broncos-tertiary: #FFFFFF;

// Detroit Lions
$color-detroit-lions-primary: #0076B6;
$color-detroit-lions-secondary: #B0B7BC;
$color-detroit-lions-tertiary: #000000;

// Green Bay Packers
$color-green-bay-packers-primary: #203731;
$color-green-bay-packers-secondary: #FFB612;
$color-green-bay-packers-tertiary: #FFFFFF;

// Houston Texans
$color-houston-texans-primary: #03202F;
$color-houston-texans-secondary: #A71930;
$color-houston-texans-tertiary: #FFFFFF;

// Indianapolis Colts
$color-indianapolis-colts-primary: #002C5F;
$color-indianapolis-colts-secondary: #A2AAAD;
$color-indianapolis-colts-tertiary: #FFFFFF;

// Jacksonville Jaguars
$color-jacksonville-jaguars-primary: #006778;
$color-jacksonville-jaguars-secondary: #9F792C;
$color-jacksonville-jaguars-tertiary: #D7A22A;

// Kansas City Chiefs
$color-kansas-city-chiefs-primary: #E31837;
$color-kansas-city-chiefs-secondary: #FFB81C;
$color-kansas-city-chiefs-tertiary: #FFFFFF;

// Las Vegas Raiders
$color-las-vegas-raiders-primary: #000000;
$color-las-vegas-raiders-secondary: #A5ACAF;
$color-las-vegas-raiders-tertiary: #FFFFFF;

// Los Angeles Chargers
$color-los-angeles-chargers-primary: #0080C6;
$color-los-angeles-chargers-secondary: #FFC20E;
$color-los-angeles-chargers-tertiary: #002244;

// Los Angeles Rams
$color-los-angeles-rams-primary: #003594;
$color-los-angeles-rams-secondary: #FFA300;
$color-los-angeles-rams-tertiary: #FFD100;

// Miami Dolphins
$color-miami-dolphins-primary: #008E97;
$color-miami-dolphins-secondary: #FC4C02;
$color-miami-dolphins-tertiary: #005778;

// Minnesota Vikings
$color-minnesota-vikings-primary: #4F2683;
$color-minnesota-vikings-secondary: #FFC62F;
$color-minnesota-vikings-tertiary: #EAEAEA;

// New England Patriots
$color-new-england-patriots-primary: #002244;
$color-new-england-patriots-secondary: #C60C30;
$color-new-england-patriots-tertiary: #B0B7BC;

// New Orleans Saints
$color-new-orleans-saints-primary: #D3A625;
$color-new-orleans-saints-secondary: #101820;
$color-new-orleans-saints-tertiary: #D3A625;

// New York Giants
$color-new-york-giants-primary: #0B2265;
$color-new-york-giants-secondary: #A71930;
$color-new-york-giants-tertiary: #A5ACAF;

// New York Jets
$color-new-york-jets-primary: #203731;
$color-new-york-jets-secondary: #FFFFFF;
$color-new-york-jets-tertiary: #203731;

// Philadelphia Eagles
$color-philadelphia-eagles-primary: #014A53;
$color-philadelphia-eagles-secondary: #000000;
$color-philadelphia-eagles-tertiary: #A5ACAF;

// Pittsburgh Steelers
$color-pittsburgh-steelers-primary: #FFB612;
$color-pittsburgh-steelers-secondary: #101820;
$color-pittsburgh-steelers-tertiary: #C60C30;

// San Francisco 49ers
$color-san-francisco-49ers-primary: #AA0000;
$color-san-francisco-49ers-secondary: #B3995D;
$color-san-francisco-49ers-tertiary: #E6BE8A;

// Seattle Seahawks
$color-seattle-seahawks-primary: #002244;
$color-seattle-seahawks-secondary: #69BE28;
$color-seattle-seahawks-tertiary: #A5ACAF;

// Tampa Bay Buccaneers
$color-tampa-bay-buccaneers-primary: #D50A0A;
$color-tampa-bay-buccaneers-secondary: #34302B;
$color-tampa-bay-buccaneers-tertiary: #FF7900;

// Tennessee Titans
$color-tennessee-titans-primary: #4B92DB;
$color-tennessee-titans-secondary: #0C2340;
$color-tennessee-titans-tertiary: #8A8D8F;

// Washington Commanders
$color-washington-commanders-primary: #773141;
$color-washington-commanders-secondary: #FFB612;
$color-washington-commanders-tertiary: #FFFFFF;
