

// Add your instrumentation key or use the APPLICATIONINSIGHTSKEY environment variable on your production machine to start collecting data.
var ai = require('applicationinsights');
ai.setup(process.env.APPLICATIONINSIGHTSKEY || 'your_instrumentation_key').start();[submodule "nifi"]
	path = nifi
	url = https://gitbox.apache.org/repos/asf/nifi.git
