<head>

  // Function to fetch and display NFL statistics
  async function fetchAndDisplayNFLStats() {
  // Your logic to fetch and display NFL statistics
  console.log('Fetching and displaying NFL statistics...');
  }

  // Trigger the function when the page loads
  window.addEventListener('load', fetchAndDisplayNFLStats);
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css" />
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js"></script>
  <!-- PopperJS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
  <!-- Bootstrap-Select CSS -->
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css">
  <!-- Bootstrap-Select JS -->
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js"></script>
  <style>
    .dropdown-toggle-no-caret::after {
      display: none;
    }
  </style>
</head>
<!-- Page Title -->
<h1>NFL Statistics</h1>
<!-- Data Navigation Buttons -->
<div class="data-navigation btn-group btn-group-toggle d-flex rounded-1" data-toggle="buttons">
  <label
    class="btn btn-dark rounded-3 focus-ring focus-ring-light w-50 d-inline-flex justify-content-center text-larger">
    <input type="radio" name="dataOptions form-control" id="teamDataBtn" autocomplete="off" checked
      onclick="fetchAndDisplayData('team')" />
    <span>Team Stats</span>
  </label>
  <label
    class="btn btn-dark rounded-3 focus-ring focus-ring-light w-50 d-inline-flex justify-content-center text-larger">
    <input type="radio" name="dataOptions form-control" id="playerDataBtn" autocomplete="off"
      onclick="fetchAndDisplayData('player')" />
    <span>Player Stats</span>
  </label>
</div>
<!---Dropdowns and Data Display-->
<div class="filters-controls">
  <!-- Dropdown container -->
  <div class="container-fluid">
    <div class="row">
      <!-- Season Dropdown -->
      <div class="col py-2 border text-bg-light p-3 rounded w-50" data-bs-theme="dark">
        <!-- Button and Dropdown in a flex container -->
        <div class="d-flex flex-row-reverse rounded-3 "> <!-- updated -->
          <div class="input-group-text">Select a Season:</div>
          <!-- Dropdown Button -->
          <div class="d-inline-flex flex-column w-100"> <!-- updated -->
            <button class="btn btn-outline-secondary dropdown-toggle dropdown-end w-100 position-relative" type="button"
              id="dropdownMenuButton1" data-bs-toggle="dropdown" data-bs-auto-close="true">
              <p class="text-center" id="selected-season">{{ year }} - {{ season_type }}</p>
            </button>
            <!-- Dropdown menu -->
            <div class="dropdown-menu dropdown-menu-end px-4 position-absolute" aria-labelledby="dropdownMenuButton1"
              style="overflow-y: auto; height: auto; max-height: 200px;">
              <!-- Searching box -->
              <input id="SeasonInput" class="form-control" type="text" placeholder="Filter by Year and Season">
              <!-- Dropdown list -->
              {% if teams_dict is defined %}
              {% for team in teams_dict[selected_year_season_combo] %}
              <li>
                <a class="dropdown-item {{ 'selected' if team.name == 'All Teams' }}" href="#">
                  <img src="{{ team.logo }}" class="img-flag" width="20" height="20" alt-text-"Team-logo"/> {{ team.name }}
                </a>
              </li>
              {% endfor %}
              {% endif %}
              <ul id="season-dropdown" class="dropdown-menu-content">
                <!-- Options will be dynamically populated from the database -->
                {% if year_season_combinations is defined %}
                {% for combo in year_season_combinations %}
                {% if combo.year|string() == current_year|string() and combo.season_type == current_season_type %}
                <li><a class="dropdown-item selected" href="#">{{ combo.year }} - {{ combo.season_type }}</a></li>
                {% else %}
                <li><a class="dropdown-item" href="#">{{ combo.year }} - {{ combo.season_type }}</a></li>
                {% endif %}
                {% endfor %}
                {% endif %}
              </ul>
            </div>
          </div> <!-- added -->
        </div> <!-- added -->
      </div>
      <!-- Team Dropdown -->
      <div class="col py-2 border text-bg-light p-3 rounded w-50" data-bs-theme="dark">
        <!-- Button and Dropdown in a flex container -->
        <div class="d-flex flex-row-reverse rounded-3 "> <!-- updated -->
          <div class="input-group-text">Select Team:</div>
          <!-- Dropdown Button -->
          <div class="d-inline-flex flex-column w-100"> <!-- updated -->
            <button class="btn btn-outline-secondary dropdown-toggle dropdown-end w-100 position-relative" type="button"
              id="dropdownMenuButton2" data-bs-toggle="dropdown" data-bs-auto-close="true">
              <p class="text-center" id="selected-team">{{ firstteam }}</p>
            </button>
            <!-- Dropdown menu -->
            <div class="dropdown-menu dropdown-menu-end px-4 position-absolute" aria-labelledby="dropdownMenuButton2"
              style="overflow-y: auto; height: auto; max-height: 300px;">
              <!-- Searching box -->
              <input id="TeamInput" class="form-control" type="text" placeholder="Show Player Details by Team">
              <!-- Dropdown list -->
              <ul id="team-dropdown" class="dropdown-menu-content">
                <!-- Options will be dynamically populated from the database -->
                {% if teams_dict is defined and teams_dict[selected_year_season_combo] %}
                {% for team in teams_dict[selected_year_season_combo] %}
                <li>
                  <a class="dropdown-item {{ 'selected' if team.name == 'All Teams' }}" href="#">
                    <img src="{{ team.imageLink }}" class="img-flag" width="20" height="20" /> {{ team.name }}
                  </a>
                </li>
                {% endfor %}
                {% else %}
                <li><a class="dropdown-item" href="#">No teams available</a></li>
                {% endif %}
              </ul>
            </div>
          </div> <!-- updated -->
        </div> <!-- updated -->
      </div>
      <!-- Player Dropdown (Initially hidden) -->
      <div class="col py-2 border d-none text-bg-light p-3 rounded w-50" id="player-dropdown-container"
        data-bs-theme="dark">
        <!-- Dropdown Button -->
        <div class="d-flex rounded-3 ">
          <div class="input-group-text">Select Player:</div>
          <button class="btn btn-outline-secondary dropdown-toggle dropdown-end w-100 position-relative" type="button"
            id="dropdownMenuButton3" data-bs-toggle="dropdown" data-bs-auto-close="true">

            <!-- Placeholder for selected player -->
            <p class="text-center" id="selected-player">Select a Player</p>
          </button>
          <!-- Dropdown menu -->
          <div class="dropdown-menu dropdown-menu-end px-4 position-absolute" aria-labelledby="dropdownMenuButton3"
            style="overflow-y: auto; height: auto; max-height: 200px;">
            <!-- Searching box -->
            <input id="PlayerInput" class="form-control" type="text" placeholder="Filter by Player Name">
            <!-- Dropdown list -->
            <ul id="player-dropdown" class="dropdown-menu-content">
              <!-- Options will be dynamically populated based on the selected season and team -->
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Offensive Leaders -->
        <div class="col-lg-6">
          <h2>Offensive Leaders</h2>
          <!-- Total yds -->
          <h3>Total Yards</h3>
          <table class="table table-striped" id="offensive-leaders-total-yards">
            <thead class="thead-dark">
              <tr>
                <th style="width: 7%">Rank</th>
                <th style="width: 45%">Team</th>
                <th>Total Yards</th>
                <th>Total Yards/Game</th>
                <th style="width: 7%">Games Played</th>
              </tr>
            </thead>
            <tbody>
              {% if team_top_10_data['Offensive Leaders']['Yards per Game'] is defined %}
              {% for team in team_top_10_data['Offensive Leaders']['Yards per Game'] %}
              <tr>
                <td>{{ team.rank }}</td>
                <td><img src="{{ team.img }}" class="img-flag" width="40" height="40" /> {{ team.team }}</td>
                <td>{{ team.stat|round(2)}}</td>
                <td>{{ (team.stat / team.games_played )|round(2)}}</td>
                <td>{{ team.games_played }}</td>
              </tr>
              {% endfor %}
              {% endif %}
            </tbody>
          </table>
          <!-- Passing yds -->
          <h3>Passing Yards</h3>
          <table class="table table-striped" id="offensive-leaders-passing-yards">
            <thead class="thead-dark">
              <tr>
                <th style="width: 7%">Rank</th>
                <th style="width: 45%">Team</th>
                <th>Total Yards</th>
                <th>Total Yards/Game</th>
                <th style="width: 7%">Games Played</th>
              </tr>
            </thead>
            <tbody>
              {% for team in team_top_10_data['Offensive Leaders']['Passing Yards'] %}
              <tr>
                <td>{{ team.rank }}</td>
                <td><img src="{{ team.img }}" class="img-flag" width="40" height="40" /> {{ team.team }}</td>
                <td>{{ team.stat|round(2)}}</td>
                <td>{{ (team.stat / team.games_played )|round(2)}}</td>
                <td>{{ team.games_played }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <!-- Rushing yds -->
          <h3>Rushing Yards</h3>
          <table class="table table-striped" id="offensive-leaders-rushing-yards">
            <thead class="thead-dark">
              <tr>
                <th style="width: 7%">Rank</th>
                <th style="width: 45%">Team</th>
                <th>Total Yards</th>
                <th>Total Yards/Game</th>
                <th style="width: 7%">Games Played</th>
              </tr>
            </thead>
            <tbody>
              {% for team in team_top_10_data['Offensive Leaders']['Rushing Yards'] %}
              <tr>
                <td>{{ team.rank }}</td>
                <td><img src="{{ team.img }}" width="40" height="40" /> {{ team.team }}</td>
                <td>{{ team.stat|round(2) }}</td>
                <td>{{ (team.stat / team.games_played )|round(2)}}</td>
                <td>{{ team.games_played }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- Defensive Leaders -->
        <div class="col-lg-6">
          <h2>Defensive Leaders</h2>
          <!-- yds Allowed -->
          <h3>Total Yards Allowed</h3>
          <table class="table table-striped" id="defensive-leaders-total-yards-allowed">
            <thead class="thead-dark">
              <tr>
                <th style="width: 7%">Rank</th>
                <th style="width: 45%">Team</th>
                <th>Total Yards</th>
                <th>Total Yards/Game</th>
                <th style="width: 7%">Games Played</th>
              </tr>
            </thead>
            <tbody>
              {% for team in team_top_10_data['Defensive Leaders']['Yards Allowed per Game'] %}
              <tr>
                <td>{{ team.rank }}</td>
                <td><img src="{{ team.img }}" class="img-flag" width="40" height="40" /> {{ team.team }}</td>
                <td>{{ team.stat|round(2)}}</td>
                <td>{{ (team.stat / team.games_played )|round(2)}}</td>
                <td>{{ team.games_played }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <!-- Passing yds Allowed -->
          <h3>Passing Yards Allowed</h3>
          <table class="table table-striped" id="defensive-leaders-passing-yards-allowed">
            <thead class="thead-dark">
              <tr>
                <th style="width: 7%">Rank</th>
                <th style="width: 45%">Team</th>
                <th>Total Yards</th>
                <th>Total Yards/Game</th>
                <th style="width: 7%">Games Played</th>
              </tr>
            </thead>
            <tbody>
              {% for team in team_top_10_data['Defensive Leaders']['Passing Yards Allowed'] %}
              <tr>
                <td>{{ team.rank }}</td>
                <td><img src="{{ team.img }}" class="img-flag" width="40" height="40" /> {{ team.team }}</td>
                <td>{{ team.stat|round(2)}}</td>
                <td>{{ (team.stat / team.games_played )|round(2)}}</td>
                <td>{{ team.games_played }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <!-- Rushing yds Allowed -->
          <h3>Rushing Yards Allowed</h3>
          <table class="table table-striped" id="defensive-leaders-rushing-yards-allowed">
            <thead class="thead-dark">
              <tr>
                <th style="width: 7%">Rank</th>
                <th style="width: 45%">Team</th>
                <th>Total Yards</th>
                <th>Total Yards/Game</th>
                <th style="width: 7%">Games Played</th>
              </tr>
            </thead>
            <tbody>
              {% for team in team_top_10_data['Defensive Leaders']['Rushing Yards Allowed'] %}
              <tr>
                <td>{{ team.rank }}</td>
                <td><img src="{{ team.img }}" class="img-flag" width="40" height="40" /> {{ team.team }}</td>
                <td>{{ team.stat|round(2)}}</td>
                <td>{{ (team.stat / team.games_played )|round(2)}}</td>
                <td>{{ team.games_played }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Data Category Buttons -->
    <div>
      <button data-category="passing" onclick="updateTable('passing')">
        Passing
      </button>
      <button data-category="receiving" onclick="updateTable('receiving')">
        Receiving
      </button>
      <button data-category="defense" onclick="updateTable('defense')">
        Defense
      </button>
      <!-- ... other buttons ... -->
      <button data-category="firstdowns" onclick="updateTable('firstdowns')">
        First Downs
      </button>
    </div>
    <!-- Data Category Buttons -->
    <div class="categories-buttons">
      <button onclick="showCategory('passing')">Passing</button>
      <button onclick="showCategory('rushing')">Rushing</button>
      <button onclick="showCategory('receiving')">Receiving</button>
      <button onclick="showCategory('defense')">Defense</button>
      <button onclick="showCategory('specialTeams')">Special Teams</button>
      <button onclick="showCategory('opponentData')">
        Opponent Data by Team
      </button>
      <!-- ... add more buttons as needed ... -->
    </div>
  </div>
  <script>
    async function log(eventData) {
      // Log to the browser console
      console.log("Logging Event:", eventData);
    }
    function reverseMapSeasonType(seasonTypeDisplay) {
      const seasonTypeMapping = {
        "Pre-Season": "PRE",
        "Regular Season": "REG",
        Playoffs: "PST",
      };
      return seasonTypeMapping[seasonTypeDisplay] || seasonTypeDisplay;
    }
    async function fetchData(url, params = {}) {
      log(`Fetching data from ${url}`);
      return new Promise((resolve, reject) => {
        $.get(url, params, function (data) {
          log(`Received data from ${url}:`, JSON.stringify(data).substring(0, 150));
          return resolve(data);
        }).fail(function (jqXHR, textStatus, errorThrown) {
          log(`Error fetching data from ${url}`);
          return reject(errorThrown);
        });
      });
    }
    async function fetchAndPopulateSeason(params = {}) {
      console.log('fetchAndPopulateSeason called');
      if (isLoading) return;
      isLoading = true;
      try {
        const data = await fetchData('/populate-seasons', params);
        console.log('Fetched seasons data:', data);
        if (!data || !data.seasons) {
          throw new Error('No seasons data received');
        }
        const seasons = data.seasons.map(
          (item) => item.year + ' - ' + item.season_type
        );
        const dropdown = document.querySelector('#season-dropdown');
        if (!dropdown) {
          throw new Error('Cannot find ul element');
        }
        dropdown.innerHTML = ''; // clear existing options
        log('Cleared existing season dropdown options.');
        seasons.forEach((season) => {
          const li = document.createElement('li');
          const a = document.createElement('a');
          a.classList.add('dropdown-item', 'd-flex', 'align-items-center', 'gap-2', 'py-2');
          a.href = '#';
          a.textContent = season;
          li.appendChild(a);
          dropdown.appendChild(li);
          //console.log('Adding season to dropdown:', season);
          console.log('Total number of seasons added:', seasons.length);
        });
        const firstSeason = seasons[0];
        console.log('First season:', firstSeason); // Debugging line
        const dropdownButton = document.getElementById('dropdownMenuButton1');
        if (firstSeason && dropdownButton) {
          const [selectedYear, selectedSeasonType] = firstSeason.split(' - ');
          dropdownButton.innerText = firstSeason;
          log('First Season: ', firstSeason);
          log('Dropdown button text: ', dropdownButton.innerText);
          const seasonType = reverseMapSeasonType(selectedSeasonType);
          populateTeams(selectedYear, seasonType);
        }
      } catch (error) {
        log('Error fetching season data.', error);
      } finally {
        isLoading = false;
        if (isPageLoad) {
          isPageLoad = false;
        }
      }
    }
    let isInitialTeamsPopulation = true;
    let isPageLoad = true;
    let selectedSeasonType = 'REG'; // Default season type
    let isLoading = false;
    // JavaScript to display the active item in the button
    window.onload = async function () {
      // Assume populateSeasons returns a Promise
      fetchAndPopulateSeason().then(() => {
        // Your existing code for setting up dropdowns and other logic here
        function updateDropdown(target, btnId, dropdownId) {
          // prevent the default action
          event.preventDefault();
          // Insert the span and change the button label
          var newItem = `<span class='d-inline-block bg-success rounded-circle p-1'></span> ${target.innerText}`;
          document.getElementById(btnId).innerHTML = newItem;
          // Remove existing highlight
          let otherItems = target.parentElement.parentElement.querySelectorAll('li');
          otherItems.forEach(item => item.classList.remove('border', 'border-3', 'border-secondary'));
          // Highlight the clicked item
          target.classList.add('border', 'border-3');
        }
        // get the dropdown items
        var seasonitems = document.querySelectorAll('#season-dropdown li');
        // add click event listener to each item
        for (var i = 0; i < seasonitems.length; i++) {
          seasonitems[i].addEventListener('click', function (event) {
            updateDropdown(event.target, 'dropdownMenuButton1');
            const [selectedYear, selectedSeasonType] = event.target.innerText.split(' - ');
            populateTeams(selectedYear, reverseMapSeasonType(selectedSeasonType));
            fetchAndDisplayData();
            updateDropdown(event.target, 'dropdownMenuButton2');
          });
        }
      });
    };
    $(document).ready(async function () {
      populateTeams();
      isPageLoad = false;

      async function populateTeams(selectedYear, selectedSeasonType) {
        if (isLoading) return;
        isLoading = true;
        log('Populate Team Dropdown Triggered', selectedYear, selectedSeasonType);

        if (!selectedYear || !selectedSeasonType) {
          const selectedValue = $('#season-dropdown').val();
          const splitValue = selectedValue.split(' - ');
          selectedYear = splitValue[0];
          selectedSeasonType = reverseMapSeasonType(splitValue[1]);
          log('No year or season type provided. Fetched from dropdown:', selectedYear, selectedSeasonType);
        } else {
          log('Received year and season type: ', selectedYear, selectedSeasonType);
        }

        const params = { year: selectedYear, season_type: selectedSeasonType };
        log(`Fetching data for the year ${selectedYear} and season ${selectedSeasonType} from '/populate-teams'`);

        $.ajax({ url: '/populate-teams', type: 'GET', data: params, })
          .done(function (teams) {
            log('Data received from /populate-teams:', JSON.stringify(teams).substring(0, 200));
            var firstteam = Object.values(teams)[0][0].name;
            var dropdown = document.querySelector('#team-dropdown');
            if (!dropdown) {
              throw new Error("Cannot find ul element");
            }
            dropdown.innerHTML = '';
            log('Cleared existing teams dropdown options.');
            Object.entries(teams).forEach(([key, teamList]) => {
              const [year, seasonType] = key.split('_');
              teamList.forEach((team) => {
                if (team.name !== 'All Teams') {
                  var li = document.createElement('li');
                  var a = document.createElement('a');
                  a.classList.add('dropdown-item', 'd-flex', 'align-items-center', 'gap-2', 'py-2');
                  a.href = '#';
                  // Create an img element for team image
                  const img = document.createElement('img');
                  img.src = team.imageLink;
                  img.alt = team.name;
                  img.width = 30; // You can adjust this value
                  img.height = 30; // You can adjust this value
                  // Append the img element to the <a> tag
                  a.appendChild(img);
                  let formattedTeam = formatTeam({ text: team.name });
                  if (formattedTeam.jquery) {
                    formattedTeam = formattedTeam[0].outerHTML;
                  }
                  a.innerHTML += formattedTeam; // append team name next to the image 
                  li.appendChild(a);
                  dropdown.appendChild(li);
                }
              });
            });
            var dropdownButton = document.querySelector('#dropdownMenuButton2');
            var selectedTeamElement = document.getElementById('selected-team');
            if (firstteam && dropdownButton && selectedTeamElement) {
              dropdownButton.innerText = firstteam;
              selectedTeamElement.innerText = firstteam; // This will update the displayed team name
            }
          })
          .fail(function (error) {
            log('Error fetching team data.', error);
          })
          .always(function () {
            isLoading = false;
            if (isPageLoad) {
              isPageLoad = false;
            }
          });
      }
      var initialTeamsPopulation = false;
      function formatTeam(team, teams) {
        let firstFiveTeams = teams ? teams.slice(0, 5) : []; // get the first 5 teams
        log(firstFiveTeams, " being used for teams list");
        if (!team.id) {
          return team.text;
        }
        const imageLink = $(team.element).data("image"); // Changed "image" to "img"
        let teamName = team.text || '';
        if (imageLink) {
          const formattedText = $(`<span><img src="${imageLink}" class="img-flag" style="width: 20px; height: 20px;" /> ${teamName}</span>`);
          return formattedText;
        } else {
          return teamName;
        }
      }
      function updateTable(category, year, seasonType, team) {
        $.ajax({
          url: "/update-data",
          type: "GET",
          data: {
            category: category,
            year: year,
            season_type: seasonType,
            team: team
          },
          success: function (response) {
            // Rest of the success code...
          },
          error: function (jqXHR, textStatus, errorThrown) {
            log(`Error fetching data for category: ${category}`, textStatus, errorThrown);
          },
        });
      }
      function fetchAndDisplayData() {
        const selectedSeason = $('#season-dropdown').val();
        const splitSeasons = selectedSeason.split(" - ");
        const selectedTeam = $('#team-dropdown').val();

        updateTable("player", splitSeasons[0], reverseMapSeasonType(splitSeasons[1]), selectedTeam);
      }
      function fetchAndDisplayTop10(stats, selectedYear, selectedSeasonType) {
        // Your logic to fetch and display top 10 teams based on the selected category
        log('Update Top 10 Data Triggered')
        if (!selectedYear || !selectedSeasonType) {
          const selectedValue = $("#season-dropdown").val();
          const splitValue = selectedValue.split(" - ");
          selectedYear = splitValue[0];
          selectedSeasonType = reverseMapSeasonType(splitValue[1]);
          log("No year or season type provided. Fetched from dropdown: ", selectedYear, selectedSeasonType);
        } else {
          log("Received year and season type: ", selectedYear, selectedSeasonType);
        }
        const params = {
          year: selectedYear,
          season_type: selectedSeasonType
        };
        log(`Fetching data for the year ${selectedYear} and season ${selectedSeasonType} from '/get-top10-data'`);
        $.ajax({
          url: '/get-top10-data',
          type: 'GET',
          data: params,
          success: function (data) {
            let key = selectedYear + "_" + selectedSeasonType;  // prepare the key
            log("Data received from /get-top10-data:", JSON.stringify(data).substring(0, 400));
            // Process each stat separately
            for (const stat of stats) {
              let { tableId, leaderType, statType } = stat;
              log(`#${tableId}`);
              let table = document.querySelector(`#${tableId}`);
              log(`#${tableId}`, table);
              let tbody = table.querySelector('tbody');
              if (tbody) {
                tbody.innerHTML = ''; // clear only table body, not the entire table
                console.error('Tbody Cleared');
              } else {
                console.error(`No tbody found in the table with id ${tableId}`);
              }
              let tableData = data[key][leaderType][statType];  // use the key, leaderType and statType to fetch data
              // Fill the table's body with this stat's data
              tableData.forEach(leader => {
                let row = document.createElement('tr');
                let rank = document.createElement('td');
                rank.innerText = leader.rank;
                row.appendChild(rank);
                let teamCell = document.createElement('td');
                let imgElem = document.createElement('img');
                imgElem.src = leader.img;
                imgElem.className = "img-flag";
                imgElem.width = 40;
                imgElem.height = 40;
                teamCell.appendChild(imgElem);
                teamCell.append(` ${leader.team}`);
                row.appendChild(teamCell);
                let stat = document.createElement('td');
                stat.innerText = leader.stat.toFixed(2);
                row.appendChild(stat);
                let ypg = document.createElement('td');
                ypg.innerText = (leader.stat / leader.games_played).toFixed(2);
                row.appendChild(ypg);
                let gp = document.createElement('td');
                gp.innerText = leader.games_played;
                row.appendChild(gp);
                table.appendChild(row);
              });
            }
          },
          error: function (jqXHR, textStatus, errorThrown) {
            console.error(`An error happened: ${textStatus}, ${errorThrown}`);
          }
        });
      }
      //BUTTON CATEGORIES\\
      $("button[data-category]").click(function () {
        const category = $(this).attr("data-category");
        const seasonAndYear = $('#season-dropdown').val().split(' - ');
        const teamName = $('#team-dropdown').val();
        updateTable(category, seasonAndYear[0], reverseMapSeasonType(seasonAndYear[1]), teamName);
      });
      $("#playerDataBtn").on("click", function () {
        fetchAndDisplayData();
        fetchAndDisplayTop10();
        $("#player-dropdown-container").removeClass("d-none");
        const dropdownColumns = [
          "#season-dropdown-col",
          "#team-dropdown-col",
          "#player-dropdown-container",
        ];
        dropdownColumns.forEach((dropdownColumn) => {
          $(dropdownColumn).removeClass("col");
          $(dropdownColumn).css({ width: "33.33%" });
          $(dropdownColumn).addClass("col-xl-4 col-lg-4 col-md-4 col-sm-12");
        });
      });
      //FILTER DROPDOWN\\
      // Generalized filter function
      function filterFunction(inputElementId, dropdownElementId) {
        var input, filter, ul, li, a, i;
        input = document.getElementById(inputElementId);
        filter = input.value.toUpperCase();
        ul = document.getElementById(dropdownElementId);
        a = ul.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
          var txtValue = a[i].textContent || a[i].innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            a[i].parentElement.style.display = "";
          } else {
            a[i].parentElement.style.display = "none";
          }
        }
      }
      document.getElementById('SeasonInput').addEventListener('keyup', function () {
        filterFunction('SeasonInput', 'season-dropdown');
      });
      document.getElementById('TeamInput').addEventListener('keyup', function () {
        filterFunction('TeamInput', 'team-dropdown');
      });
      document.getElementById('PlayerInput').addEventListener('keyup', function () {
        filterFunction('PlayerInput', 'player-dropdown');
      });
      // VARIABLES\\
      var dropdownButton1 = document.getElementById('dropdownMenuButton1');
      var dropdownButton2 = document.getElementById('dropdownMenuButton2');
      var seasonInput = document.getElementById('SeasonInput');
      var teamInput = document.getElementById('TeamInput');
      var seasonDropdown = document.getElementById('season-dropdown');
      var teamDropdown = document.getElementById('team-dropdown');
      var dropdown = document.querySelector('.dropdown');
      // CLICK FUNCTIONS\\
      seasonDropdown.addEventListener('click', function (event) {
        if (event.target.matches('.dropdown-item')) {
          const seasonTypeCode = reverseMapSeasonType(event.target.innerText);
          dropdownButton1.innerText = seasonTypeCode;
        }
        seasonInput.value = '';
        seasonDropdown.classList.remove('show');
      });
      teamDropdown.addEventListener('click', function (event) {
        if (event.target.matches('.dropdown-item')) {
          const teamTypeCode = event.target.innerText;
          dropdownButton2.innerText = teamTypeCode;
        }
        teamInput.value = '';
        teamDropdown.classList.remove('show');
      });
    });
    // HIDING DROPDOWN\\
    $('#dropdownMenuButton1').on('hidden.bs.dropdown', function () {
      var selectedSeason = $('.dropdown-item.selected').text();
      if (selectedSeason) {
        populateTeams(selectedSeason);
      }
      seasonInput.value = '';
    });
    $('#dropdownMenuButton2').on('hidden.bs.dropdown', function () {
      var selectedTeam = $('.dropdown-item.selected').text();
      if (selectedTeam) {
        $("#playerDataBtn").trigger('click');
      }
    });
    // DROPDOWN CHANGE\\  
    let changeEventCount = 0;
    $("#season-dropdown").off('change').change(function () {
      const selectedValue = $("#season-dropdown").val();
      const splitValue = selectedValue.split(" - ");
      const selectedYear = splitValue[0];
      const selectedSeasonType = reverseMapSeasonType(splitValue[1]);
      let stats = [
        { tableId: 'offensive-leaders-total-yards', leaderType: 'Offensive Leaders', statType: 'Total Yards' },
        { tableId: 'offensive-leaders-passing-yards', leaderType: 'Offensive Leaders', statType: 'Passing Yards' },
        { tableId: 'offensive-leaders-rushing-yards', leaderType: 'Offensive Leaders', statType: 'Rushing Yards' },
        { tableId: 'defensive-leaders-total-yards-allowed', leaderType: 'Defensive Leaders', statType: 'Total Yards Allowed' },
        { tableId: 'defensive-leaders-passing-yards-allowed', leaderType: 'Defensive Leaders', statType: 'Passing Yards Allowed' },
        { tableId: 'defensive-leaders-rushing-yards-allowed', leaderType: 'Defensive Leaders', statType: 'Rushing Yards Allowed' }
      ];
      changeEventCount++;
      log("Dropdown change event triggered for the ", changeEventCount + " time(s)");
      // Check if it is not the first time page load
      if (!isPageLoad) {
        // If season changes, update the teams dropdown and refresh tables
        if (this.id === 'season-dropdown') {
          let currentTeamSelection = $("#team-dropdown").val(); //save current selection
          log(currentTeamSelection, " being used for teams list")
          populateTeams();

          // prevent triggering 'change' event on '#team-dropdown', while the season-dropdown is changing
          if ("#team-dropdown" !== this.id) {
            $("#team-dropdown").val(currentTeamSelection).trigger('change'); //restore selection
          }
          fetchAndDisplayTop10(stats);
        }
      }
    });
    //DROP DOWN MOUSE LEAVE\\
    var dropdownCloseTimeout;
    var dropdowns = document.getElementsByClassName('dropdown-menu-end');
    Array.from(dropdowns).forEach(function (dropdown) {
      dropdown.addEventListener('mouseleave', function () {
        dropdownCloseTimeout = setTimeout(function () {
          dropdown.classList.remove('show');
        }, 2000);
      });
      //DROPDOWN MOUSE ENTER & CLICK ON DROPDOWN\\
      ['mouseenter', 'click'].forEach(function (event) {
        dropdown.addEventListener(event, function () {
          clearTimeout(dropdownCloseTimeout);
        });
      });
    });
  </script>